/* Center the game board and set a background color */
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* game board style */
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  background-color: #fbafaf;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 36px;
  background-color: #eee;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #ddd;
}

/* Style the message and reset button */
.message {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-left: 90px;
  margin-top: 20px;
  cursor: pointer;
  background-color:  #cf96d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cf96d6;
}
